.mugu {
    background-color: yellow;
    color: black;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

.maga {
    background-color: lightgray;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.memo {
    color: olivedrab;
    font-size: 24px;
    font-weight: 500;
}